body {
	text-align: center;
	background-color: #BDE5E1;
	margin: 0;
	background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
}

ul {
	margin: 2% 5%;
}

.profile-img {
	height:250px;
	width: 250px;
	margin: 30px;
	border-radius:  20px;
}

.icon {
	margin: 10px 0 0;
	padding: 2px;
}

.title {
	font-size: 26px;
	background-color: #6BBED4;
}

.heading {
	font-weight: bold;
	margin-right: 10px;
}



/* About-me Section  */

.about {
	display:flex;
	background-color: #59A9B5;
	margin: 3% 15% ;
	padding: 20px;
	border-radius:  20px;
	justify-content: center;
	font-size: 18px;
}

/* Education Section  */

.institute {
	background-color: #59A9B5;
	margin: 3% 7% ;
	padding: 20px;
	border-radius:  20px;
}

.sect {
	font-size: 18px;
	text-align: left;
	margin-top: 10px;
}

.years {
	position: relative;
	left: 30px;	
	font-weight: normal;
}

/* Skills Section  */

.ability {
	height: 120px;
	width: 120px;
	margin-right: 10px;
	text-align: left;
	padding: 10px;
	border-radius: 100%;
}

/* Projects Section  */

.works {
	background-color: #59A9B5;
	margin: 0;
	padding: 20px;
}

/* Achievements Section  */

.accomplishments {
	margin: 0;
	padding: 1px 0;
}

/* Interests Section  */

.games {
	height: 300px;
	width: 300px;
	margin: 2%;
}

/* Footer Section  */

.contact {
	margin: 5px 10px;
}

a {
	text-decoration: none;
}